@import 'normalize.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$white: #FCFCFD;
$lightgray: #97999C;
$darkgray: #5C5C5C;
$lightblue: #9ECFE7;
$bg: #D8E1E9;
$darkred: #EB302E;
$darkblue: #253281;

body {
  background-color: $bg;
  color: $darkgray;
  font-family: 'Roboto', sans-serif;
  padding: 1em;
}

.post {
  align-items: center;
  background-color: $white;
  border: solid 1px $lightblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 1em;

  h2 {
    flex-basis: 85%;
    margin: 0;
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;

    &:hover {
      transform: scale(1.1);
      transition-duration: 0.1s;
    }
  }

  &:not(:first-child) {
    margin-top: 1em;
  }
}

.delete-button {
  color: $darkred;
}

.comment-button {
  color: $darkblue;
}

.post-vote {
  flex-basis: 15%;
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
}

.post-vote-score {
  font-weight: bold;
  margin-left: .5em;
}

.post-body {
  border-bottom: solid 1px $lightgray;
  flex-basis: 100%;
  font-weight: light;
  padding: 1em 0;
}

.post-author,
.post-date,
.post-comment-count {
  align-items: center;
  display: flex;
  flex-basis: 33%;
  font-size: 12px;
  justify-content: flex-start;
  padding-top: 1em;

  span {
    margin-left: .5em;
  }

  svg {
    font-size: 1.4em;
  }
}

.post-date {
  justify-content: center;
}

.post-comment-count {
  justify-content: flex-end;
}

.post-actions {
  padding-top: 1em;
}

.post-author-name {
  font-weight: bold;
  text-transform: uppercase;
}

//

.active {
  color: green;
}

.category-selector {
  width: 100%;
  text-transform: uppercase;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 33%;
  }

  a {
    text-decoration: none;
  }
}

.list-posts {
  display: flex;

  .post {
    flex-basis: 50%;
  }
}